.button_connexion{
  margin-top: 10%;
}

#tabBar{
  display: none;
}

.admin_button_tab_bar{
  display: none;
}

#inscription_box{
  text-align: center;
  margin-top: 40px;
}

#inscription_box p{
  font-weight: bold;
}