.title_administration{
              margin-left: 20px;
}

.button_admin{
  display: flex;
}

.form_text{
  color: gray;
  text-align: center;
}

#submit_button_add_room, #submit_button_unavailable, #submit_button_delete_room, #submit_button_modify_room {
              padding: 10px 15px;
              background-color: rgb(241, 189, 15);
              border: none;
              color: white;
              border-radius: 25px;
            
            }

#form_unavailable{
margin-top: 10px;
}
